<% if flash.has?(:error_login) %>
  <%= flash[:error_login] %>
<% end %>

<div class="container">
    <h3>Log in</h3>
    
    <form role="form" method="post" action="/login">
        <div class="row">
            <div class="form-group col-lg-6">
                <label for="code">Username</label>
                <input type="text" name="username"class="form-control" placeholder="Enter Username"/>
            </div>
        </div>
  
        <div class="row">
            <div class="form-group col-lg-6 ">
                <label for="code">Password</label>
                <input type="password" name="password" class="form-control input-normal" placeholder=" Enter Password"/>
            </div>
        </div>
        
        <div class="row">
             <button type="submit" class="btn btn-primary"> Submit</button>
        </div>
    </form>
</div>

 

