

<div class="bg-imageusers"></div>


<div class="l-form">
<div class="container">
    <% if Helpers.is_logged_in? session %>
        <h5>Welcome, <%=@user.username%></h5>
    <% end %>
     <h5>Choose An Option:</h5>
     <h6 class="display-6">Create A <a class="btn btn-success btn-sm" href="/identifications/new">New Identification </a></h6>
     <h6 class="display-6">Modify An <a class="btn btn-success btn-sm" href="/identifications/:id"> Identification </a></h6>
     <h6 class="display-6">View All <a class="btn btn-success btn-sm" href="/identifications">Identification I Created </a></h6>
     <h6 class="display-6">View Entire <a class="btn btn-success btn-sm" href='/ViewAllCitizens'>Identifications Created By All Employees</a></h6>
</div>   
</div>


