<div class="bg-image"></div>
<div class="l-form">

    <% if flash.has?(:signup) %>
    <%= flash[:signup] %>
    <% end %>

    <div class="container">
        <h3>Sign Up</h3>
        
        <form role="form" action="/signup" method="POST">
            <div class="row">
                <div class="form-group col-lg">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="form-control" placeholder="Choose A Username"/>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" class="form-control" placeholder="Choose An Email Address"/>
                </div>
            </div>
    
            <div class="row">
                <div class="form-group col-lg">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control input-normal" placeholder=" Enter Password"/>
                </div>
            </div>
            
            <div class="row">
                <div class="form-group col-lg">
                    <button type="submit" class="btn btn-primary"> Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>



