<div class="bg-image"></div>
<div class="container">

    <div class="bg-text">
        <h3 class="display-4">Haitian-Citizens' Identification Program!</h3>
        <p><h2 class="display-6" id ="innerbox-text"> We Register Haitian-Citizens' Identification!</h2></p>
        <h6 class="display-6">I am a new employee <a class="btn btn-success btn-sm" href='/signup' role="button">Sign Up!</a></h6>
        <h6 class="display-6">I am an Employe <a class='btn btn-success btn-sm' href='/login' role="button">Log In!</a></h6> 
    </div> 
</div> 