

<p>

</p>
<div class="container" > <!--style="height: 6px;">-->
   <div class="container" >
       
            <div class="jumbotron p-3 mb-2 bg-dark text-light">
                <div class="container text-center">
                    <!--<div class="container" style="height: 6px;">-->
                    <p><h2 class="display-6"> We Register Haitian-Citizens' Identification!</h2></p>

                    <h6 class="display-6">I am a new employee <a class="btn btn-success btn-sm" href='/signup' role="button">Sign Up!</a></h6>
                    <h6 class="display-6">I am an Employe <a class='btn btn-success btn-sm' href='/login' role="button">Log In!</a></h6> 
                 </div>   
        </div>
    </div>
</div>




   <!--<div class="container" >-->
       
            <!--<div id="black" class="jumbotron" style='height: 600px'>
                <div id='blue' class="container text-center ">
                    <!--<div class="container" style="height: 6px;">
                    <h2 class="display-6">Haitian-Citizens' Identication Program!</h2>
                 </div>   
        </div>
    </div>-->
    <style>
       #blue {
           background: #2980b9;
       }
       #picture {
           background-image: url("https://www.google.com/search?q=haitian+flag&tbm=isch&tbs=rimg:CUVpw3K5TmMnIjhYviBbKHp7xkw5_19JmP4kxSh9WYTXkAsMEEizGmT2V-CZVUHLN5NapEw0RV_14kxCKYMj6_1KdimrSoSCVi-IFsoenvGETPeRf6w6tPSKhIJTDn_10mY_1iTERX-7o1qWhGFAqEglKH1ZhNeQCwxFfDfcc_1GNdgSoSCQQSLMaZPZX4EQ8mpXZ5iF6rKhIJJlVQcs3k1qkRQFTWuXaUO3IqEgkTDRFX_1iTEIhGJ-cyrcZgxnSoSCZgyPr8p2KatEQumoIe3n37o&tbo=u&sa=X&ved=2ahUKEwj6icKk-qrgAhWv1VkKHUehD48Q9C96BAgBEBg&biw=1720&bih=845&dpr=0.75#imgrc=Ew0RV_4kxCI5XM:")
       }
       #black {
           background: black
       }
    </style>



